<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>厦门智能﹢创新创业公共服务平台</title>
    <link rel="shortcut icon" href="~/img/logos/favicon.ico" /> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/buttons.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Scripts/loading/showLoading.css">


    <style>
        
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="titleColor navbar-brand" href="/Home/Default"><strong>厦门智能<sup>+</sup> 创新创业公共服务平台</strong> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- 引入 jquery 1.8.0 -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        var jQuery_1_7_1 = $.noConflict(true);
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-paginator.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/loading/jquery.showLoading.js"></script>

    
    
    @RenderSection("scripts", required: false)

    <div style="min-height: 600px;padding-top:50px;">
        @RenderBody()

    </div>
    <div class="container" style="margin-top:50px;">
        <hr />
        <footer>
            <p>Copyright &copy; Intelligent Plus</p>
        </footer>
    </div>

    
</body>
</html>
