
@using MakerPlatform.Models;

@{
    ServiceType serviceType = (ServiceType)ViewData["ServiceType"];
    
}
<style>
    .areaStyle {
        min-height: 800px;
        padding-top: 150px;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top" style="top: 98px; z-index: 99; background-color: white;">
    <div class="container">
        <ul class="nav nav-tabs navbar-right" style="border-bottom:none;">
            @{
                if (serviceType != null)
                {
                    var serviceModules = serviceType.ServiceModules;
                    foreach (var module in serviceModules)
                    {
                        <li><a href="#@module.ModuleCode"><strong>@module.ModuleName</strong></a></li>
                    }
                }
            }

            
        </ul>
    </div>
</nav>

@{
    if (serviceType != null)
    {
        var serviceModules = serviceType.ServiceModules;
        foreach (var module in serviceModules)
        {
            <a name="@module.ModuleCode"></a>
    <div id="@module.ModuleCode" class="areaStyle">@Html.Raw(@module.ModuleContent)</div>
        }
    }
}

<script>


</script>